<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    
    <title>Online Learning Website</title>
  </head>

  <body>
    <div>
      <header><h1>Your Courses</h1></header>

      <nav class="nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/userprofile">Profile</a>
        <a class="nav-link" href="/task">Add Task</a>
        <a class="nav-link active" href="/course">Your Courses</a>
        <a class="nav-link" href="/logout">Logout</a>
      </nav>

      <main class="px-3">
        <h1>Courses Assigned to You</h1>

        <div>
          <ul>
            <li class="list-group-item">
              <iframe
                width="33%"
                height="315"
                src="https://www.youtube.com/embed/bxsemcrY4gQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <iframe
                width="33%"
                height="315"
                src="https://www.youtube.com/embed/zW_tZR0Ir3Q"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <iframe
                width="33%"
                height="315"
                src="https://www.youtube.com/embed/zW_tZR0Ir3Q"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </li>
          </ul>
        </div>
      </main>

      <footer>
        <p>
          Extrapolated LMS website
          <a href="https://stige.tech/" class="text-white"> Stige </a> Project, by
          <a href="#" class="text-white">Dhriti Ranjan</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
