<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <title>Online Learning Website</title>

  

</head>

<body>

    
        <header><h1>Enroll Now</h1>
            
            </header>
            

                <nav>
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link active" href="/register">Enroll Now</a>
                </nav>
            
        

        <main class="px-3">
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your username"
                        id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
                
                
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Enter your email">
                
                
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                

                
                    <label for="exampleFormControlInput2" class="form-label">Mobile No</label>
                    <input type="text" name="phone" class="form-control" id="exampleFormControlInput2"
                        placeholder="Enter your mobile no">
                
                
                    <label for="exampleFormControlInput3" class="form-label">Role</label>
                    <input type="text" name="role" class="form-control" id="exampleFormControlInput3"
                        placeholder="Enter your Role">
                
                
                    <label for="exampleFormControlInput4" class="form-label">Language</label>
                    <input type="text" name="language" class="form-control" id="exampleFormControlInput4"
                        placeholder="Enter your Lang">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>


        </main>

        <footer>
            <p>
                Extrapolated LMS website
                <a href="https://stige.tech/" class="text-white"> Stige </a> Project, by
                <a href="#" class="text-white">Dhriti Ranjan</a>.
              </p>
        </footer>
    


</body>

</html>
